<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- IMPORTANTE: quando vc for trabalhar com algum arquivo css customizado junto com o bootstrap, vc deve importar ele abaixo da importação do bootstrap -->

    <title>Guia Perguntas</title>
    <!-- Para eu instalar o bootstrap, basta eu importar eles aqui no meu html diretamente, visto que ele é composto apenas de css e js -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Esse bootstrap.min.css é o arquivo css do bootstrap que eu preciso importar -->
    <!-- Precisamos também do arquivo js do bootstrap, mas ele só funciona com duas dependências -->
    <!-- As duas dependências são : o jquery e o popper -->
    <!-- Basta pegar essas duas dependências lá no próprio site do bootstrap, na página de download -->
    <!-- Também dá para baixar pelo npm, mas dá um pouquinho mais de trabalho para baixar na versão exata -->
    <link rel="stylesheet" href="/css/style.css"> 
</head>