<!-- Adicionando 3 classes do bootstrap na minha navbar -->
<!-- a primeira só adiciona a navbar, a segunda é a cor dos textos da navbar e a terceira é a cor do plano de fundo da navbar  -->
<!-- Sobre a cor das letras: como eu deixei a navbar light, se eu botar a classe bg-light, ela vai ficar preta e se eu botar bg-dark ela vai ficar branca -->
<nav class="navbar navbar-light bg-primary"> 
    <!-- A classe navbar-brand que foi usada nos links serve para alinhar os elementos à esquerda -->
    <a class="navbar-brand" href="/"> 
        <img src="/img/Logo_loading.png" alt="Logo_loading" width="100px">
    </a>
</nav>